 <nav class="{{include.navclass}}">
        <ul>
            <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">about</a></li>
            <!-- 
            <li><a href="{{site.baseurl}}/tech.html" class="{% if page.url == '/tech.html' %}current{% endif %}">Technology</a></li>
            -->
            <li><a href="{{site.baseurl}}/recepies.html" class="{% if page.url == '/recepies.html' %}current{% endif %}">Recepies</a></li>
            <li><a href="{{site.baseurl}}/news.html" class="{% if page.url == '/news.html' %}current{% endif %}">News</a></li>
        </ul>
</nav>
